<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

            <mat-drawer-container class="flex-auto h-full">
        
                <!-- Drawer -->
                <mat-drawer
                    class="w-80"
                    [autoFocus]="false"
                    [mode]="drawerMode"
                    [opened]="drawerOpened"
                    #matDrawer>
        
                    <div class="flex flex-col flex-auto h-full dark:bg-default">
                        
                        <div class="flex flex-col bg-gray-50 dark:bg-transparent py-3">
                            <mat-form-field class="w-full px-2" [subscriptSizing]="'dynamic'">
                                <mat-label>Filter By</mat-label>
                                <mat-select
                                    [value]="'active'"
                                    (selectionChange)="filterByCategory($event)">
                                    <mat-option [value]="'all'">All</mat-option>
                                    <ng-container *ngFor="let category of categories;">
                                        <mat-option [value]="category.slug">{{category.title}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full px-2 mt-2"
                                [subscriptSizing]="'dynamic'">
                                <mat-label>Search Affiliate Products</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    (input)="filterByQuery(query.value)"
                                    placeholder="Search by title or description"
                                    matInput
                                    #query>
                            </mat-form-field>
                        </div>

                        <!-- Watchlist -->
                        <div class="flex flex-col flex-0">
                            <div
                                class="flex flex-0 items-center cursor-pointer px-3 py-4 border-b"
                                *ngFor="let item of products" (click)="activeProduct = item;fetchProductTrackingInfo(item);" [ngClass]="{'bg-gray-200': activeProduct?.id === item?.id}">
                                <div class="flex flex-col flex-auto pr-6">
                                    <div class="flex items-center justify-between">
                                        <div class="mr-1 font-medium text-md text-secondary">
                                            <strong>#{{item?.id}} -</strong> {{item.productTitle}}
                                        </div>
                                    </div>
                                    <div class="flex items-end mt-2">
                                        <div class="font-medium text-sm text-hint uppercase tracking-wider text-primary">
                                            <div *ngIf="item?.offerPrice">
                                                <strong class="mr-3">{{item?.offerPrice | currency:'INR':'symbol':'1.2-4'}}</strong>
                                                <strike>({{item?.price | currency:'INR':'symbol':'1.2-4'}})</strike>
                                            </div>
                                            <div *ngIf="!item?.offerPrice">
                                                <strong>{{item?.price | currency:'INR':'symbol':'1.2-4'}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex items-end mt-2">
                                        <div class="min-w-20 text-truncate leading-2">
                                            {{item.productDescription | slice:0:100}}<span [matTooltip]="item.productDescription">...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                </mat-drawer>
        
                <!-- Content -->
                <mat-drawer-content class="flex flex-col">
                    
                    <div class="flex flex-col flex-auto bg-card dark:bg-default">
                        <div class="flex flex-wrap items-center pl-4 pr-6 py-3 md:pl-6 border-b">
                            <button
                                class="mr-6 lg:hidden"
                                mat-icon-button
                                (click)="matDrawer.toggle()">
                                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                            </button>
                            <div class="flex flex-col flex-auto my-3 mr-6">
                                <div class="flex items-center">
                                    <div class="font-medium text-2xl text-secondary mr-2">Analytics</div>
                                    <div class="font-medium text-lg text-hint tracking-wider"></div>
                                </div>
                                <div class="flex items-end mt-1">
                                    <div class="mr-2 font-mono text-1xl leading-none tracking-tight">
                                        Track Your Campaigns
                                    </div>
                                </div>
                            </div>
                            <div class="hidden sm:flex items-center my-3">
                                <!-- <div class="p-4 leading-none rounded-l-xl border border-r-0">
                                    <div class="text-sm font-medium text-secondary">Market Cap</div>
                                    <div class="mt-2 font-mono text-xl">100</div>
                                </div>
                                <div class="p-4 leading-none border border-r-0">
                                    <div class="text-sm font-medium text-secondary">Volume</div>
                                    <div class="mt-2 font-mono text-xl">200</div>
                                </div>
                                <div class="p-4 leading-none border border-r-0">
                                    <div class="text-sm font-medium text-secondary">Supply</div>
                                    <div class="mt-2 font-mono text-xl">350</div>
                                </div>
                                <div class="p-4 leading-none rounded-r-xl border">
                                    <div class="text-sm font-medium text-secondary">All Time High</div>
                                    <div class="mt-2 font-mono text-xl">550</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="(analytics && userTrackList?.rows?.length > 1) ? '' : 'h-full'" class="relative flex flex-auto bg-gray-50 dark:bg-transparent p-6">
                        <div *ngIf="analytics" class="sm:col-span-6 flex flex-col flex-auto overflow-hidden">
                            <div class="grid grid-cols-3 gap-4 w-full mb-4">
                                <div class="single-card rounded shadow px-3 py-5 bg-card border-b-orange-200 border-b-8">
                                    <h4>Total Click(s)</h4>
                                    <h2 class="font-bold">
                                        {{analytics?.totalCountSum || 'N.A'}}
                                    </h2>
                                </div>
                                <div class="single-card rounded shadow px-3 py-5 bg-card border-b-red-200 border-b-8">
                                    <h4>Unique Click(s)</h4>
                                    <h2 class="font-bold">
                                        {{analytics?.uniqueCountSum || 'N.A'}}
                                    </h2>
                                </div>
                                <div class="single-card rounded shadow px-3 py-5 bg-card border-b-blue-200 border-b-8">
                                    <h4>Human Click(s)</h4>
                                    <h2 class="font-bold">
                                        {{analytics?.humanCountSum || 'N.A'}}
                                    </h2>
                                </div>
                            </div>
                            <div class="single-card rounded shadow px-3 py-5 bg-card row flex flex-col mb-3" *ngFor="let item of userTrackList.rows;">
                                <div class="flex items-end justify-end mb-3">
                                    <mat-slide-toggle *ngIf="item?.paymentStatus === 'COMPLETED'" (change)="onToggleChange(item)" color="primary">Get Commission Details</mat-slide-toggle>
                                </div>
                                <div class="flex flex-row justify-start">
                                    <div class="justify-center flex items-center px-4">
                                        <span class="justify-center flex items-center h-10 w-10 bg-fuchsia-500 rounded text-white">
                                            #{{item?.id}}
                                        </span>
                                    </div>
                                    <div class="grid grid-cols-3 gap-4 w-full">
                                        <div>
                                            <label class="font-bold">Name</label>
                                            <p class="font-light">{{item?.name}}</p>
                                        </div>
                                        <div>
                                            <label class="font-bold">Email</label>
                                            <p class="font-light truncate">{{item?.email}}</p>
                                        </div>
                                        <div>
                                            <label class="font-bold">Mobile No</label>
                                            <p class="font-light">{{item?.mobile}}</p>
                                        </div>
                                        <div>
                                            <label class="font-bold">User Payment Status</label>
                                            <p class="font-light">{{item?.paymentStatus}}</p>
                                        </div>
                                        <div>
                                            <label class="font-bold">Affiliate Status</label>
                                            <p class="font-light">{{item?.affiliateStatus}}</p>
                                        </div>
                                        <div>
                                            <label class="font-bold">Created At</label>
                                            <p class="font-light">{{item?.createdAt | date: 'short'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="item?.showDetails" class="grid grid-cols-3 gap-4 w-full border-t pl-5 mt-2">
                                    <ng-container>
                                        <div class="mt-3">
                                            <label class="font-bold">Commission</label>
                                            <p class="font-light">{{item?.conversionDetails?.finalCommissionPercentage ? (item?.conversionDetails?.finalCommissionPercentage+' %') : 'N.A'}}</p>
                                        </div>
                                        <div class="mt-3">
                                            <label class="font-bold">
                                                Commission Amount <mat-icon *ngIf="item?.conversionDetails?.paymentMessage" class="text-lg text-amber-600" [matTooltip]="item?.conversionDetails?.paymentMessage">info</mat-icon>
                                            </label>
                                            <p class="font-light">{{(item?.conversionDetails?.finalCommissionAmount | currency:'INR':'symbol':'1.2-4') || 'N.A'}}</p>
                                        </div>
                                        <div class="mt-3">
                                            <label class="font-bold">Payment Status</label>
                                            <p class="font-light">{{item?.conversionDetails?.isPaymentProcessedStatus || 'N.A'}}</p>
                                        </div>
                                        <div>
                                            <label class="font-bold">Conversion Date</label>
                                            <p class="font-light">{{(item?.conversionDetails?.createdAt | date: 'short') || 'N.A'}}</p>
                                        </div>
                                        <div>
                                            <label class="font-bold">Payment Reference</label>
                                            <p class="font-light">{{item?.conversionDetails?.paymentReference || 'N.A'}}</p>
                                        </div>
                                        <div>
                                            <label class="font-bold">Comments</label>
                                            <p class="font-light">{{item?.conversionDetails?.comments || 'N.A'}}</p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </mat-drawer-content>
        
            </mat-drawer-container>
        
        </div>
        

    </div>
</div>
