<!-- <div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">


  
      <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">  -->
         <!-- Activity feed -->
        <!-- <div class="w-full max-w-3xl">  -->


            <!-- Title -->
            <!-- <div class="text-4xl font-extrabold tracking-tight leading-none">Learning Calendar</div>
            <div class="mt-1.5 text-lg text-secondary"></div> -->


          
               <!-- <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
               
                <mat-step [stepControl]="firstFormGroup" svgIcon="heroicons_solid:check-circle" >
                 
                    <ng-template matStepLabel>Today's Learnings</ng-template>
                  <p>22-Dec-2023</p><br>
                  
                  <p>Getting started with Html</p>
                  <a href="https://indstack-academy.teachable.com/courses/mentorship-recordings/lectures/45986175">Click Here</a>
                  <div>
                 
          
                  
                </div> -->
                
                <!-- </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Tomorrow's Learnings</ng-template>
                  <p></p>
                  <div> 
                    <button mat-button matStepperPrevious>Done</button> 
  <button mat-button (click)="stepper.reset()">Done</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-stepper> -->
<!-- src/app/timeline/timeline.component.html -->
<!-- src/app/timeline/timeline.component.html -->

<!-- <!DOCTYPE html>
<html lang="en">

<div class="text-2xl font-extrabold tracking-tight leading-items-center">Learning Calendar</div>



<body class="h-screen w-full flex justify-center items-center">

  <div class="max-w-5xl mx-auto w-full grid grid-cols-9 px-2">
   
    <div class="col-span-4 w-full h-full ">
      <div class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
        <h1 class="text-white text-xl font-medium py-2">1.Getting started with Html</h1>
        <a href="https://indstack-academy.teachable.com/courses/mentorship-recordings/lectures/45986175">Click Here</a>
        <p>22-Dec-2023</p><br>
      </div>
    </div>
    <div class="relative col-span-1 w-full h-full flex justify-center items-center">
      <div class="h-full w-1 bg-indigo-300"></div>
      <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
    </div>
    <div class="col-span-4 w-full h-full"></div>


   
    <div class="col-span-4 w-full h-full"></div>
    <div class="relative col-span-1 w-full h-full flex justify-center items-center">
      <div class="h-full w-1 bg-indigo-300"></div>
      <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
    </div>
    <div class="col-span-4 w-full h-full ">
      <div class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
        <h1 class="text-white text-xl font-medium py-2">Title</h1>
        <p class="text-gray-100 sm:text-sm text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
          corporis consequuntur voluptate nulla iusto quam ut quasi, eaque quas omnis vero totam ullam, reprehenderit
          ratione pariatur accusamus suscipit odit nostrum?</p>
      </div>
    </div>

    <div class="col-span-4 w-full h-full ">
      <div class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
        <h1 class="text-white text-xl font-medium py-2">Title</h1>

        <p class="text-gray-100 sm:text-sm text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
          corporis consequuntur voluptate nulla iusto quam ut quasi, eaque quas omnis vero totam ullam, reprehenderit
          ratione pariatur accusamus suscipit odit nostrum?</p>
      </div>
    </div>
    <div class="relative col-span-1 w-full h-full flex justify-center items-center">
      <div class="h-full w-1 bg-indigo-300"></div>
      <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
    </div>
    <div class="col-span-4 w-full h-full"></div>
  </div>

</body>

</html> -->
<!-- data1 -->
<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Learning Calendar</title>
</head>

<body class="h-screen w-full flex justify-center items-center">

  <div class="max-w-5xl mx-auto w-full grid grid-cols-9 px-2">
    < Stack 1 -->
    <!-- <div class="col-span-4 w-full h-full">
      <div class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
        <h1 class="text-white text-xl font-medium py-2">1.Getting started with Html</h1>
        <a href="https://indstack-academy.teachable.com/courses/mentorship-recordings/lectures/45986175">Click Here</a> -->
        <!-- <input type="checkbox" class="ml-2" /> Add checkbox here -->
        <!-- <p>1 jan 2024</p><br>
      </div>
    </div>
    <div class="relative col-span-1 w-full h-full flex justify-center items-center">
      <div class="h-full w-1 bg-indigo-300"></div>
      <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
    </div>
    <div class="col-span-4 w-full h-full"></div> -->

    <!-- Stack 2 -->
    <!-- <div class="col-span-4 w-full h-full"></div>
    <div class="relative col-span-1 w-full h-full flex justify-center items-center">
      <div class="h-full w-1 bg-indigo-300"></div>
      <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
    </div>
    <div class="col-span-4 w-full h-full">
      <div class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
        <h1 class="text-white text-xl font-medium py-2">2 Getting started with Css</h1> -->
       
        <!-- <a href="https://indstack-academy.teachable.com/courses/mentorship-recordings/lectures/45986175">Click Here</a>
        <input type="checkbox" class="ml-2" /> <!-- Add checkbox here -->
        <!-- <p>2 Jan 2024</p><br>
      </div>
    </div> --> 

    <!-- Stack 3 -->
    <!-- <div class="col-span-4 w-full h-full">
      <div class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
        <h1 class="text-white text-xl font-medium py-2">3 Getting started with Javascript</h1>
    
        <a href="https://indstack-academy.teachable.com/courses/mentorship-recordings/lectures/45986175">Click Here</a>
        <input type="checkbox" class="ml-2" /> Add checkbox here -->
        <!-- <p>3 Jan 2024</p><br>
      </div>
    </div>
    <div class="relative col-span-1 w-full h-full flex justify-center items-center">
      <div class="h-full w-1 bg-indigo-300"></div>
      <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
    </div>
    <div class="col-span-4 w-full h-full"></div> -->
       <!-- Stack 4 -->
       <!-- <div class="col-span-4 w-full h-full"></div>
       <div class="relative col-span-1 w-full h-full flex justify-center items-center">
         <div class="h-full w-1 bg-indigo-300"></div>
         <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
       </div>
       <div class="col-span-4 w-full h-full">
         <div class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
           <h1 class="text-white text-xl font-medium py-2">4 Getting started with Angular</h1>
           -->
           <!-- <a href="https://indstack-academy.teachable.com/courses/mentorship-recordings/lectures/45986175">Click Here</a>
           <input type="checkbox" class="ml-2" /> <!-- Add checkbox here -->
           <!-- <p>4 Jan 2024</p><br>
         </div> -->
       <!-- </div>  -->
       <!-- Stack 5 -->
    <!-- <div class="col-span-4 w-full h-full">
      <div class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
        <h1 class="text-white text-xl font-medium py-2">5 Title</h1>
    
        <a href="https://indstack-academy.teachable.com/courses/mentorship-recordings/lectures/45986175">Click Here</a>
        <input type="checkbox" class="ml-2" />  Add checkbox here -->
        <!-- <p>5 Jan 2024</p><br>
      </div>
    </div>
    <div class="relative col-span-1 w-full h-full flex justify-center items-center">
      <div class="h-full w-1 bg-indigo-300"></div>
      <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
    </div>
    <div class="col-span-4 w-full h-full"></div> --> 
    <!-- Stack 6 -->
    <!-- <div class="col-span-4 w-full h-full"></div>
    <div class="relative col-span-1 w-full h-full flex justify-center items-center">
      <div class="h-full w-1 bg-indigo-300"></div>
      <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
    </div>
    <div class="col-span-4 w-full h-full">
      <div class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
        <h1 class="text-white text-xl font-medium py-2">4 Title</h1>
       
        <a href="https://indstack-academy.teachable.com/courses/mentorship-recordings/lectures/45986175">Click Here</a>
        <input type="checkbox" class="ml-2" />  Add checkbox here -->
        <!-- <p>6 Jan 2024</p><br>
      </div>
    </div> --> 
  <!-- </div> -->


<!-- </body> -->

 
 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Learning Calendar</title>
</head>

<body class="h-screen w-full flex justify-center items-center">
<div style="max-height: 600px; overflow-y: auto;">
  <div class="max-w-5xl mx-auto w-full grid grid-cols-9 px-2">
    <div class="col-span-1">
      <!-- Left side timeline -->
      <div class="relative h-full flex justify-center items-center">
        <div class="w-1 bg-indigo-300 h-full"></div>
        <div class="absolute w-6 h-6 rounded-full bg-indigo-400 z-10 text-white text-center"></div>
      </div>
    </div>


   <div class="col-span-8">
      <!-- Right side content -->
      <div class="grid grid-cols-4 w-full h-full">
        <div class="col-span-1 w-full h-full"></div>
        <div class="col-span-3 w-full h-full">
          <div *ngFor="let learning of learningcalendar" class="w-full h-full bg-indigo-400 rounded-md p-2 md:pl-4">
            <h1 class="text-white text-xl font-medium py-2">{{learning.topic}}</h1>
            <a href="{{learning.url}}" class="text-white">Click here</a>
            <p class="text-white">day: {{learning.day}}</p><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
