.course-image {
    width: 100%;
    height: 120px !important;
}
.social-icons {
    .fb {
        background: #3b5998 !important;
    }
    .linkedin {
        background: #0A66C2 !important;
    }
    .twitter {
        background: #00acee !important;
    }
    .whatsapp {
        background: #075E54 !important;
    }
}