<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="accountForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Personal Information</div>
            <div class="text-secondary">
                Communication details in case we want to connect with you. These
                will be kept private.
            </div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Email</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:mail'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'email'" matInput />
                </mat-form-field>
            </div>

            <!-- Phone -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Mobile</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'mobile'" matInput />
                </mat-form-field>
            </div>

            <!-- Gender -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Gender</mat-label>
                    <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:users'"
                    matPrefix></mat-icon>
                    <mat-select [formControlName]="'gender'">
                        <mat-option value="F">FEMALE</mat-option>
                        <mat-option value="M">MALE</mat-option>
                        <mat-option value="O">OTHER</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                    <mat-form-field
                        class="w-full"
                        [subscriptSizing]="'dynamic'">
                        <mat-label>DOB</mat-label>
                    <input
                        matInput
                        [formControlName]="'dob'"
                        [placeholder]="'Select DOB'"
                        [matDatepicker]="dp"
                    />
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_outline:calendar'"
                    ></mat-icon>
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="dp"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        
    </form>
</div>